{{ $ := .root }}
{{ $page := .page }}
{{ $pubs_len := len (where $.Data.Pages "Type" "publication") }}

<!-- Publications widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $pubs_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ "/publication/" | relLangURL }}">
        {{ i18n "more_publications" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}
  </div><!--
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ if and ($page.Params.publication_type) (ne $page.Params.publication_type "-1") }}
      {{ $.Scratch.Set "recent_pubs" (where (where $.Data.Pages "Type" "publication") ".Params.publication_types" "intersect" (slice $page.Params.publication_type)) }}
    {{ else }}
      {{ $.Scratch.Set "recent_pubs" (where $.Data.Pages "Type" "publication") }}
    {{ end }}

    {{ $recent_pubs := $.Scratch.Get "recent_pubs" }}
    {{ range first $page.Params.count $recent_pubs }}
      {{ if eq $page.Params.list_format 1 }}
        {{ partial "publication_li_classic" . }}
      {{ else if eq $page.Params.list_format 2 }}
        {{ partial "publication_li_detailed" . }}
      {{ else }}
        {{ partial "publication_li_simple" . }}
      {{ end }}
    {{ end }}

  </div>--->
  <div>
    <object data="https://haltools.archives-ouvertes.fr/Public/afficheRequetePubli.php?auteurs_EPI=jean-michel+bruel%3BPierre-Jean+Charrel%3BBeno%C3%AEt+Combemale%3BBernard+Coulette%3BSophie+Ebersold&CB_auteur=oui&CB_titre=oui&CB_article=oui&langue=Anglais&tri_exp=annee_publi&tri_exp2=typdoc&tri_exp3=date_publi&ordre_aff=TA&Fen=Rech&lang=fr&Formate=Oui&css=../css/VisuCondense.css"
      width="100%"
      height="500">
    </object>
  </div>
</div>
